:root {
    --system-ui: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    --light-bg: #333;
    --dark-bg: #f5f5f5;
}


*, ::before, ::after {
    margin: 0;
    padding: 0;
}

body {
    font-family: var(--system-ui);
    line-height: 1.6;
    color: var(--light-bg);
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: inherit;
}

/* Header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 0;
    background-color: #f5f5f5;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1;
}

.logo {
    width: 70%;
    min-width: 300px;
    max-width: 800px;
    /*margin: 0 auto 1rem auto;*/
}

nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

nav ul {
    display: flex;
    margin: 0 auto;
}

nav ul li {
    margin-left: 20px;
}

nav ul li a:hover {
    color: #777;
}

/* Main content */
main, footer {
    padding: 50px;
}

main {
    margin-top: 100px;
    margin-bottom: 50px;
}

.banner {
    margin-bottom: 40px;
    width: 100%;
    position: relative;
    text-align: center;
    /*z-index: -1;*/
}

.banner img {
    width: 100%;
    height: auto;
}

.card:target {
  border: 2px solid #DCB76C;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1), 0 4px 12px rgba(0, 0, 0, 0.1);
}

.featured-products {
    display: flex;
    flex-wrap: wrap;
    gap: 2%;
}

.card {
    flex: 1 0 30%;
}

.card img {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
}

.about-below {
    background-color: #f5f5f5;
    margin-top: -20px;
    padding-bottom: 135px;
}

/* Footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 50px;
  background-color: var(--dark-bg);
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  bottom: 0;
  left: 0; /* Add this line */
  width: calc(100% - 100px); /* Update this line */
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px; /* Add padding to the left */
  padding-right: 20px; /* Add padding to the right */
  width: 100%;
}

.footer-left {
    width: 20%;
}

.footer-left img {
    display: block;
    width: 100px;
    height: auto;
}

.footer-right {
    width: 80%;
    text-align: right;
    /*margin: 0;*/
}

@media (max-width: 768px) {
  main {
      padding: 20px;
      margin-bottom: 100px;
  }

    .footer-right {
        margin-left: 5rem;
    }


    .card {
        flex-basis: 100%;
        margin-bottom: 10%;
    }
}
